<div class="screen">
  <div class = "container">

    <div class="box-fora" >
      <h2 class="titulo-login">Valor do deposito</h2>
      <div class="input-box">
        <label for="valor">Valor </label>
        <input type="text" id="valor" required>
      </div>
    </div>
    <button class="botao-deposito nav-link" routerLink="/menu/pagina-principal" routerLinkActive="active">Sacar</button>
    <i class="bi bi-arrow-left botaoback fa-lg" routerLink="/menu/pagina-principal" routerLinkActive="active"></i>
    <h2 class="h2">Não consegue sacar? Entre em  </h2>
    <a class="h2 cadastro nav-link" routerLink="/cadastro" routerLinkActive="active">Contato</a>
  </div>

</div>
