<form class="screen" [formGroup]="transForm" (ngSubmit)="transferir()">

  <div class = "container">
    <h2 class="titulo-login">Preencha os campos da transferência</h2>
    <div class="box-fora" >
      <div class="input-box">
        <label for="agenciaOrigem">Agencia de Origem </label>
        <input type="text" formControlName="agenciaOrigem" id="agenciaOrigem" required>
      </div>
      <div class="input-box">
        <label for="numeroOrigem">Conta de Origem </label>
        <input type="text" formControlName="numeroOrigem" id="numeroOrigem" required>
      </div>
      <div class="input-box">
        <label for="agenciaDestino">Agencia de Destino </label>
        <input type="text" formControlName="agenciaDestino" id="agenciaDestino" required>
      </div>
      <div class="input-box">
        <label for="numeroDestino">Conta de Destino </label>
        <input type="text" formControlName="numeroDestino" id="numeroDestino" required>
      </div>
      <div class="input-box">
        <label for="valor">Valor</label>
        <input type="number" formControlName="valor" id="valor" required>
      </div>
    </div>
    <button type="submit" [disabled]="!transForm.valid" class="botao-deposito nav-link">Transferir</button>
    <i class="bi22 bi-arrow-left botaoback fa-lg" routerLink="/menu/pagina-principal" routerLinkActive="active"></i>
    <h2 class="h2">Não consegue transferir? Entre em  </h2>
    <a class="h2 cadastro nav-link" routerLink="/cadastro" routerLinkActive="active">Contato</a>
  </div>

</form>
