<form class ="screen" [formGroup]="loginForm" (ngSubmit)="logar()">
<div>
  <div class = "container">
    <div class="box-fora">
      <h2 class="titulo-login">Login</h2>
      <div class="input-box">
        <label for="agencia">Agencia</label>
        <input type="text" formControlName="agencia" id="agencia" required="true">
      </div>
      <div class="input-box">
        <label for="conta">Conta</label>
        <input type="text" formControlName="numero" id="conta" required="true">
      </div>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" class="botao-login nav-link" routerLink="/menu/pagina-principal" routerLinkActive="active">Entrar</button>
    <h2 class="h2">Não tem conta? </h2>
    <a class="h2 cadastro nav-link" routerLink="clientes/cadastrar" routerLinkActive="active">Cadastre-se!</a>

  </div>

</div>

