<section class="d-flex">
  <div class = "bg-dark box-menu" >
<h1 class ="titulo">
INDRA BANK
</h1>
<h3 class="subtitulo" >Seu Banco Digital</h3>
  </div>
  <div class = "box-menu-branco box-menu" >
<p class="paragrafo ">
  Além de multinacional de Consultoria e Tecnologia líder na Espanha e América Latina e de estar
  presente em mais de 140 países, <span class="span">Indra</span>
  agora é <span class="span">Bank</span>
</p>
<div>
  <a class="underline nav-link" routerLink="/login" routerLinkActive="active">Login</a>
</div>
  </div>
</section>
