<form class="screen" [formGroup]="cadastroForm" (ngSubmit)="cadastrarConta()">
  <div class = "container">
    <div class="box-fora">
      <h2 class="titulo-login">Confirme seu cpf para criar uma nova Conta</h2>
      <div class="input-box">
        <label for="cpf">Cpf</label>
        <input type="text" formControlName="cpf" id="cpf" required="true">
      </div>
      <div class="input-box">
        <label for="agencia">Agencia</label>
        <input type="text" formControlName="agencia" id="agencia" required="true">
      </div>
      <div class="input-box">
        <label for="conta">Conta</label>
        <input type="text" formControlName="numero" id="conta" required="true">
      </div>
    </div>
    <button type="submit" [disabled]="!cadastroForm.valid" class="botao-login">Cadastrar</button>
    <a class="h2 voltar nav-link underline-text" routerLink="/menu/pagina-principal" routerLinkActive="active">Voltar</a>
  </div>

