
<div class="div1">
  <app-menu></app-menu>
  <main class="divmain">
    <div class="div3">
      <div class="box box-down blue">
        <h4>Saldo</h4>
        <p></p>
        <i class="bi bi-currency-dollar"></i>
      </div>
        <div class="box box-down">
          <h4>Poupança</h4>
          <p>Saldo</p>
          <i class="bi bi-safe2"></i>
        </div>
        <div class="box box-down">
          <h4>Cartões</h4>
          <p>Saldo</p>
          <i class="bi bi-credit-card-2-back"></i>
        </div>
        <div class="box box-down">
          <h4>Seguros</h4>
          <p>Saldo</p>
          <i class="bi bi-shield-check"></i>
        </div>
        <div class="box box-down">
          <h4>Invista</h4>
          <p>Saldo</p>
          <i class="bi bi-graph-up"></i>
        </div>
    </div>
  </main>
</div>




