<div class="container">
  <app-menu></app-menu>
  <div class="div2">
    <h2>Bem-vindo {{ conta?.cliente?.nome }}</h2>
    <div class="container-boxes">
      <div class="box box-down">
        <h4>Saldo</h4>
        <p class="max">{{ conta?.saldo || "0" }}</p>
        <a href="/menu/pagina-principal"><i class="bi bi-currency-dollar" ></i></a>
      </div>
      <div class="box box-down">
        <h4>Contas</h4>
        <a class="a" href="login/conta/cadastro"><i class="bi bi-safe2"></i> </a>
      </div>
      <div class="box box-down">
        <h4>Cartões</h4>
        <a href="/menu/pagina-principal">  <i class="bi bi-credit-card-2-back"></i>   </a>

      </div>
      <div class="box box-down">
        <h4>Seguros</h4>
        <a href="/menu/pagina-principal">   <i class="bi bi-shield-check"></i> </a>

      </div>
      <div class="box box-down">
        <h4>Invista</h4>
        <a href="/menu/pagina-principal"> <i class="bi bi-graph-up"></i>   </a>

      </div>
      <div class="box box-down">
        <h4>Limites</h4>
        <a href="/menu/pagina-principal">  <i class="bi bi-sliders2"></i>  </a>
      </div>
    </div>
  </div>
</div>
