<form class ="screen" [formGroup]="depositForm" (ngSubmit)="depositar()">

  <div class = "container">

    <h2 class="titulo-login">Valor do deposito</h2>
    <div class="box-fora" >
      <div class="input-box">
        <label for="agencia">Agencia </label>
        <input type="text" formControlName="agencia" id="agencia" required readonly>
      </div>
      <div class="input-box">
        <label for="conta">Conta</label>
        <input type="text" formControlName="numero" id="conta"  required readonly>
      </div>
      <div class="input-box">
        <label for="valor">Valor</label>
        <input type="text" formControlName="valor" id="valor"  required >
      </div>
      <div class="input-box">
        <h3>{{conta?.saldo}}</h3>
      </div>
    </div>
    <button  type="submit" [disabled]="!depositForm.valid" class="botao-deposito nav-link" >Depositar</button>
    <i class="bi bi22 bi-arrow-left botaoback" routerLink="/menu/pagina-principal"></i>
    <h2 class="h2">Não consegue depositar? Entre em  </h2>
    <a class="h2 cadastro nav-link" routerLink="/cadastro" routerLinkActive="active">Contato</a>
  </div>

</form>
