<nav class="nav-css" >
  <div class="div">
  <ul class=" flex-column">
    <div class="div subtitulo"> <h2>
      Bem-Vindo
    </h2></div>
    <div class=" div ">
      <i class="bi bi-bank icons bi2"></i>
      <a class="active identificadores nav-link " routerLink="/menu/pagina-principal" routerLinkActive="active" aria-current="page" href="#">Visão Geral</a>
    </div>
    <!-- <div class=" div">
      <i class="bi bi-plus-circle icons"></i>
      <a class="identificadores nav-link" routerLink="/menu/deposito" routerLinkActive="active" >Depósito</a>
    </div> -->
    <div class="dropdown  div botao">
      <button class="btn btn-sm btn-dark dropdown-toggle identificadores size" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-plus-circle icons bi2"></i>
        Depósito
      </button>
      <ul class="dropdown-menu ">
        <li><a class="nav-link identificadores posicao color2 dropdown-item " routerLink="/menu/deposito" routerLinkActive="active" >Digital</a></li>
        <li><a class="nav-link identificadores posicao color2 dropdown-item " routerLink="/menu/boleto" routerLinkActive="active" >por Boleto</a></li>
        <li><a class="nav-link identificadores posicao color2 dropdown-item " routerLink="/menu/transferencia" routerLinkActive="active" >por Transferencia</a></li>
        <li><a class="nav-link identificadores posicao color2 dropdown-item " routerLink="/menu/pix" routerLinkActive="active" >por Pix</a></li>

      </ul>
    </div>
    <div class=" div ">
      <i class="bi bi-dash-circle icons bi2"></i>
      <a class="identificadores nav-link" routerLink="/menu/saque" routerLinkActive="active" >Saque</a>
    </div>
    <div class=" div">
      <i class="bi bi-arrow-left-right icons bi2"></i>
      <a class="identificadores img nav-link" routerLink="/menu/transferencia" routerLinkActive="active" >Transferência</a>
    </div>
    <div class=" div">
      <i class="bi bi-file-text icons bi2"></i>
      <a class="identificadores nav-link" routerLink="/pages/extratos" routerLinkActive="active" >Extrato</a>
    </div>
  </ul>
</div>
</nav>


